*{ font-size: 20px; margin: 0px; padding: 0px; }
/*
dotted, dashed, solid, double, 
*/
/*propieades para botones outset*/
.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}

p
{
    margin: 12px;
    color: #000;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}



.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}

.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}


.boton {
    border: 6px #4cc outset;
    color: #c3c;
    padding: 12px;
    margin: 12px;
    background: #3ff;
}