* {

    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
}


.caja-fixed {

    /*
    position: sticky; este funciona como un elemento que fija una caja aun que est
    se desplace, lo mantienen firme como una barra de navegacion
    */
    position: sticky;
    background: yellowgreen;
    top: 10px;
}

