* {

    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 30px;
}

div {

    width: 120px;
    height:120px ;
    display: block;
    background: yellow;
}

.caja{ 

    background: red;
}
.caja1{ 

    background: green;
    position: relative;
    top:  1px;

}
.caja2{ 

    background: pink;
}
.caja3{ 

    background: gris;
}